
body {
    padding-top: 50px;
    padding-bottom: 20px;

    background-color: #e8f1f2;
}

/* Parent divider for the log in box */

.log-in-box-parent {
    width: 400px;
    height: 330px;

    background-color: #006494;
    opacity: 1.0;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-radius: 5px;
}

.log-in-box-parent h2 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    opacity: 1.0;
}

/* Log in form */

.log-in-form {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.log-in-form input[type='text'] {
    margin: 5px;
    height: 50px;
    width: 300px;

    border-radius: 5px;
    border: 0px;
    padding: 5px;
    padding-left: 20px;
    font-size: 15pt;

    background-image: url("../Content/Images/Man.png");
    background-position: 250px 10px;
    background-repeat: no-repeat;
    background-size: 30px;
    opacity: 1.0;
    background-color: #fff;
}

.log-in-form input[type='password'] {
    margin: 5px;
    height: 50px;
    width: 300px;

    border-radius: 5px;
    border: 0px;
    padding: 5px;
    padding-left: 20px;
    font-size: 15pt;

    background-image: url("../Content/Images/Padlock.png");
    background-position: 250px 10px;
    background-repeat: no-repeat;
    background-size: 30px;
    opacity: 1.0;
    background-color: #fff;
}

.log-in-form input[type='submit'] {
    margin: 5px;
    height: 50px;
    width: 300px;

    border-radius: 5px;
    border: 0px;
    padding: 5px;
    padding-left: 20px;
    font-size: 15pt;

    background-color: #1b98e0;
    color: #fff;
    font-weight: bold;
    opacity: 1.0;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    margin-top: 700px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}