.top-bar {
    width: 100%;
    height: auto;
    min-height: 75px;
    position: fixed;
    background-color: #1B98E0;
    top: 0;
}

.top-bar h1{
    padding: 15px;
    font-size: 25pt;
    color: #fff;
}

.side-bar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #13293D;
    margin-top: 25px;
    top: 50px;
}

.side-bar a{
    color: #E8F1F2;
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-left: 20px;
    font-size: 15pt;
}

.side-bar p{
    color: #E8F1F2;
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-left: 20px;
    font-size: 15pt;
    text-align: center;
}

.side-bar-button a{
    color: #E8F1F2;
}
