.staff-box {
    width: 40%;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 50px;
}

.form-parent-stats {
    margin-left: 30px;
}

.form-parent-stats input {
    display: inline-block;
}

.form-parent-stats input[type="text"] {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #e8f1f2;
    padding: 5px;
}

.form-parent-stats input[type="password"] {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #e8f1f2;
    padding: 5px;
}

.form-parent-stats input[type="submit"] {
    background-color: #1b98e0;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.form-parent-stats select {
    background-color: #e8f1f2;
    height: 60px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.form-parent-stats option {
    padding: 10px;
    border: 0;
}

.input-box {
    display: inline-block;
    margin: 5px;
}

.staff-box h4 {
    margin-left: 40px;
    padding-top: 10px;
}