@model AdminPanel.Models.SupportCases

@{
    ViewBag.Title = "Support cases";
}

@using AdminPanel.Helpers

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Players.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SupportCases.css" rel="stylesheet" type="text/css" />
</head>

<div class="page-title">
    <h2>Support cases</h2>
</div>

<div class="create-support-case-parent">
    <div class="create-support-case-form">
        @using (Html.BeginForm("CreateSupportCase", "SupportCases", FormMethod.Post))
        {
            <div class="input-box"> @Html.TextBoxFor(model => model.user, new { placeholder = "User" })</div><br />
            <div class="input-box"> @Html.DropDownListFor(model => model.supportType, new SelectList(Enum.GetValues(typeof(SupportCases.supportTypes))), SupportCases.supportTypes.Other.ToString()) </div><br />
            <div class="input-box"> @Html.TextAreaFor(model => model.description, new { placeholder = "Description" })</div><br />
            <input type="submit" id="update" value="Add" />
        }
    </div>
</div>

<div class="players-table-parent">

    <div class="player-name-search-box-parent">
        @using (Html.BeginForm("Index", "SupportCases", FormMethod.Get))
        {
            <input type="text" placeholder="Search..." name="playerSearchName" />
            <select name="caseCount" onchange="this.form.submit()">
                <!-- Dosen't work for 5 atm -->
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        }
    </div>

    <asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder">
        <table width="100%" align="center" cellpadding="2" cellspacing="2" border="0" bgcolor="#006494">
            <tr align="left" style="background-color:#006494;color:White;">
                <td>ID</td>
                <td>Staff</td>
                <td>Player</td>
                <td>Type</td>
                <td>Open</td>
                <td>Time</td>
                <td>Edit</td>
            </tr>
            @Html.Raw(Model.getStaff())
        </table>
    </asp:Content>
</div>